.form-box{
 
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(241, 235, 235);
  width: 50vw;
  height: 98vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}

.box-detail{
    color: goldenrod;
}

.form-input{
    height: 6vh;
    width: 48vw;
    text-indent: 12px;
}

.side{
    width: 24vw;
}
.job{
    height: 15vh;
}






.form-exp{
    display: flex
    
    ;
}


.form-cat{
display: flex;
}

.container {
    display: flex;
    overflow: scroll;
    width: 100%;
    max-width: 100%;
    /* padding-left: 14px; */
    border: 1px grey solid;
    /* border-radius: 5px; */
    color: black
  }
  
  .container input {
    /* width: 100%;
    min-width: 50%;
    border: none;
    border-radius: 5px;
    padding: 14px;
    padding-left: 14px; */
  
  }
  
  .tag {
    display: flex;
    align-items: center;
    margin: 7px 0;
    margin-right: 10px;
    padding: 0 10px;
    padding-right: 5px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: orange;
    white-space: nowrap;
    color: white;
  }
  
  .tag button {
    display: flex;
    padding: 6px;
    border: none;
    background-color: unset;
    cursor: pointer;
    color: white;
  }

.sec{
 margin: 0px 31px 0px -1px
  }

  .main-div{
    display: flex;
  }

